
<div class="container">
  <div class="row" style="text-align:center">
    <div class="col-md-12">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
      <div class="row" *ngFor="let jogo of jogos ; let i = index">
       <!--  <div class="col-text">
          <p>Jogo numero: {{i + 1}}</p>
        </div> -->
        <div class="col-md-2" *ngFor="let number of jogo">
          <section class="stage">
            <figure class="ball"  [ngClass]="{'is-active': numberFound(number)}">
              <span class="shadow"></span>
              <span class="eight" [attr.data-content]="number"></span> 
            </figure>
          </section>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>